// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #3659d9;
$secondary: #637083;
$accent: #5b6ee1;

$dark: #171b23;
$dark-page: #11151c;

$positive: #27865a;
$negative: #c33c4c;
$info: #3d70ca;
$warning: #ae7318;

$generic-border-radius: 6px;
$button-border-radius: 6px;

:root {
	--q-primary-2: color-mix(in srgb, var(--q-primary) 15%, transparent);
	--q-secondary-2: color-mix(in srgb, var(--q-secondary) 15%, transparent);
	--q-accent-2: color-mix(in srgb, var(--q-accent) 15%, transparent);
	--q-positive-2: color-mix(in srgb, var(--q-positive) 15%, transparent);
	--q-warning-2: color-mix(in srgb, var(--q-warning) 15%, transparent);
	--q-negative-2: color-mix(in srgb, var(--q-negative) 15%, transparent);
	--q-info-2: color-mix(in srgb, var(--q-info) 15%, transparent);

	--q-primary-3: color-mix(in srgb, var(--q-primary) 10%, transparent);
	--q-secondary-3: color-mix(in srgb, var(--q-secondary) 10%, transparent);
	--q-accent-3: color-mix(in srgb, var(--q-accent) 10%, transparent);
	--q-positive-3: color-mix(in srgb, var(--q-positive) 10%, transparent);
	--q-warning-3: color-mix(in srgb, var(--q-warning) 10%, transparent);
	--q-negative-3: color-mix(in srgb, var(--q-negative) 10%, transparent);
	--q-info-3: color-mix(in srgb, var(--q-info) 10%, transparent);
}
